.PlaybackControls__Wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PlaybackControls__Group {
  display: flex;
  flex-shrink: 0;
}

.PlaybackControls__Group > *:not(:first-child) {
  flex-shrink: 0;
  margin-left: 10px;
}

.PlaybackControls__Group_player {
  justify-self: flex-start;
}

.PlaybackControls__Group_playlist {
  justify-self: flex-end;
}

.PlaybackControls__Info {
  display: grid;
  text-align: center;
  padding: 10px 0;
}

.PlaybackControls__Title,
.PlaybackControls__Artist {
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlaybackControls__Artist {
  font-size: 14px;
  color: var(--text-secondary-color);
}
