.MainMenu__Wrapper {
  top: 10px;
  left: 10px;
  position: absolute;
  width: 15em;
  background-color: white;
  border: 1px solid lightgrey;
}

.MainMenu__Navigation {
  display: flex;
  flex-direction: column;
}

.MainMenu__Link {
  margin: 1em;
}

.MainMenu__CloseButton {
  width: 100%;
}
