.SquareButton__Button {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 60px;
  width: 60px;
  background: none;
  border: none;
  outline: none;
}

.SquareButton__Button::-moz-focus-inner {
  border: 0;
}

.SquareButton__Button:hover,
.SquareButton__Button:focus {
  background-color: rgba(0, 0, 0, 0.07);
}

.SquareButton__Button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.SquareButton__Button_toggledOn::before {
  content: "";
  position: absolute;
  top: 2px;
  width: 90%;
  height: 2px;
  background-color: var(--accent-color);
}
