.ShareAlbumPage__Preloader {
  display: flex;
  width: 100%;
  height: 100%;
}

.ShareAlbumPage__Spinner {
  margin: auto;
  fill: var(--text-secondary-color);
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
