.PlaybackControls__Group {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 0 10px;
}

.PlaybackControls__Group_toRight {
  justify-content: flex-end;
}

.PlaybackControls__Info {
  display: grid;
  text-align: center;
  padding: 10px 0;
}

.PlaybackControls__Title,
.PlaybackControls__Artist {
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlaybackControls__Artist {
  font-size: 14px;
  color: var(--text-secondary-color);
}
