.RoundButton__Button {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: none;
  border: none;
  outline: none;
}

.RoundButton__Button::-moz-focus-inner {
  border: 0;
}

.RoundButton__Button:hover {
  background-color: var(--hover-color);
}
.RoundButton__Button:focus {
  background-color: var(--focus-color);
}

.RoundButton__Button:active {
  background-color: var(--active-color);
}
