.PlayerControls__Panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
}

.PlayerControls__Panel svg {
  height: 24px;
  width: 24px;
}
