.SearchAlbumsPage__Wrapper {
}

.SearchAlbumsPage__Wrapper_loading {
}

.SearchAlbumsPage__Wrapper_fallback {
}

.SearchAlbumsPage__Wrapper_hasResults {
}

.SearchAlbumsPage__Wrapper_hasNewResults {
}

.SearchAlbumsPage__Body {
}

.SearchAlbumsPage__Wrapper_loading .SearchAlbumsPage__Body,
.SearchAlbumsPage__Wrapper_fallback .SearchAlbumsPage__Body {
  text-align: center;
  padding-top: 5em;
}

.SearchAlbumsPage__Loader {
  color: var(--text-inactive-color);
}

.SearchAlbumsPage__Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 5em;
}

.SearchAlbumsPage__Title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  word-break: break-all;
  word-break: break-word;
}

.SearchAlbumsPage__SubTitle {
  color: var(--text-inactive-color);
  text-align: center;
  margin-top: 2em;
  word-break: break-all;
  word-break: break-word;
}

.SearchAlbumsPage__Button {
  margin: auto;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

.SearchAlbumsPage__Wrapper_hasNewResults .SearchAlbumsPage__Button {
  width: 100%;
  background-color: #217f00;
  color: white;
  padding: 1em;
}

.SearchAlbumsPage__Wrapper_fallback .SearchAlbumsPage__Button {
  color: var(--error-color);
  font-weight: bold;
}
