.SearchQueryAlbum__Wrapper {
}

.SearchQueryAlbum__Wrapper_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 1.25em 1em;
}

.SearchQueryAlbum__Wrapper_root {
  display: grid;
  grid-template-columns: 50% 50%;
}

.SearchQueryAlbum__Wrapper_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SearchQueryAlbum__Button {
  border: none;
  padding: 0;
  background: none;
}

.SearchQueryAlbum__Button_delete {
  margin-left: auto;
}

.SearchQueryAlbum__Button_delete svg {
  vertical-align: middle;
}

.SearchQueryAlbum__Button_save {
  max-width: 100%;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  font-size: 0.85em;
}

.SearchQueryAlbum__Button_save,
.SearchQueryAlbum__Title,
.SearchQueryAlbum__Artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SearchQueryAlbum__Artist {
  margin-top: 0.5em;
  font-size: 0.85em;
  color: var(--text-secondary-color);
}
