.PlayerControls__Panel {
  position: fixed;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
}

.PlayerControls__Panel svg {
  height: 24px;
  width: 24px;
}

.PlayerControls__ButtonsGroup {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 100%;
  padding: 0 10px;
}

.PlayerControls__ButtonsGroup_toRight {
  justify-content: flex-end;
}

.PlayerControls__TrackInfo {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  max-width: 55%;
  padding: 13px 0;
  text-align: center;
}

.PlayerControls__Title,
.PlayerControls__ArtistName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlayerControls__Title {
}

.PlayerControls__ArtistName {
  font-size: 14px;
  color: grey;
}
