.App__Wrapper {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.App__ErrorScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: red;
}

.App__LoadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App__LoadingScreen::before {
  content: "loading...";
}