.Theme {
  --hover-color: rgba(0, 0, 0, 0.07);
  --active-color: rgba(0, 0, 0, 0.15);
  --focus-color: rgba(0, 0, 0, 0.07);
  --error-color: #b00020;
  --accent-color: #ff984d;
  --text-primary-color: rgba(0, 0, 0, 0.87);
  --text-secondary-color: rgba(0, 0, 0, 0.6);
  --text-inactive-color: rgba(0, 0, 0, 0.38);
}
