.SearchQueryPage__Content {
}

.SearchQueryPage__Results {
}

.SearchQueryPage__Feed {
  display: grid;
  justify-content: center;
  width: 100%;
  padding: 0.75em;
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fit, minmax(17.5em, 20em));
}

@media (min-width: 40em) {
  .SearchQueryPage__Feed {
    padding: 1em;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 25em));
  }
}

.SearchQueryPage__Fallback {
  text-transform: uppercase;
  color: var(--text-inactive-color);
  text-align: center;
  margin-top: 5em;
}

.SearchQueryPage__Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 5em;
}

.SearchQueryPage__Action {
  margin-top: 1em;
  height: 2em;
  display: flex;
}

.SearchQueryPage__Title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.SearchQueryPage__Button {
  margin: auto;
  background: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}
.SearchQueryPage__Button_save {
  font-weight: bold;
  color: #217f00;
}
.SearchQueryPage__Button_delete {
  font-weight: bold;
  color: var(--error-color);
}
.SearchQueryPage__Button_newResults {
  width: 100%;
  background-color: #217f00;
  color: white;
  padding: 1em;
}

.SearchQueryPage__Loader {
  margin: auto;
}
