.FeedAlbum__Wrapper {
  position: relative;
  width: 10em;
}

.FeedAlbum__Info {
  text-align: center;
  padding: 15px;
}

.FeedAlbum__Title,
.FeedAlbum__Artist {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.FeedAlbum__Title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.FeedAlbum__Artist {
  margin-top: 5px;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-secondary-color);
}

@media (min-width: 40em) {
  .FeedAlbum__Wrapper {
    width: 15em;
  }
}
