.Header__Wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.Header__Button {

}