.AlbumForm__Wrapper {
  display: grid;
  grid-gap: 1em;
  width: 100%;
  max-width: 40em;
  margin: auto;
}

.AlbumForm__AboutBlock {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
}

.AlbumForm__AboutInputs {
}